{% extends "perfwebinterface/base.html" %}
{% block content %}
<div id="wrapper">
    <div id="header-wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="#">Spirent Avalanche</a></h1>
                <p> Performance Database - <a rel="nofollow">Results & Statistics</a></p>
            </div>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="">Home</a></li>
                    <li><a href="results">Results</a></li>
                    <li><a href="compare">Compare</a></li>
                    <li><a href="statistics">Statistics</a></li>
                    <li><a href="links">Links</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#">Performance Database</a></h2>
                        <p class="meta"><span class="date">July 23, 2019</span><span class="posted">Posted by <a
                                href="#">Andrei Draghiceanu</a></span></p>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p>This is <strong>Performance Database</strong>, of all equipments (appliances and
                                chassis), <a rel="nofollow">results and statistics</a>.
                                On this page you can find different tables and graphs from every results that are
                                existing in the Performance DB <a>PAD</a>.
                            <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp&nbsp;&nbsp&nbsp<a
                                    href="#" title="b0x w">Comments</a></p>
                        </div>
                    </div>
                </div>
                <!-- end #content -->
            </div>
        </div>
    </div>

    {% endblock content %}